h2
{
    margin-left: 10%;
    font-size: 44px;
}

#whoami
{
    margin-left: 10%;
    margin-right: 50%;
}

#hobbies
{
    margin-top: 10%;
    margin-left: 50%;
    margin-right: 10%;
}

p 
{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}



body{
    
    background-image: url(../src/About_Me2.png);
    background-size: cover;
    background-color: #1e1d2b;

}

h1
{

    margin-left: 5%;
    font-size: 80px;
    display:inline;
}
